@font-face {
  font-family: lxgw;
  src: local('LXGW WenKai'), url('/fonts/LXGWWenKaiGBScreen.woff2');
}

body {
  font-family: lxgw, serif;
}

code {
  font-family: 'Fira Code', lxgw, monospace;
}

@supports (font-variation-settings: normal) {
  code {
    font-family: 'Fira Code VF', lxgw, monospace;
  }
}

em[c],
.text-em {
  font-style: normal;
  color: #d19a5e;
}

.ipt {
  display: block;
  width: 100%;
  border: 1px solid #333;
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
}
