@font-face {
  font-family: lxgw;
  src: local('LXGW WenKai'), url('/fonts/LXGWWenKaiGBScreen.woff2');
}

body {
  font-family: lxgw, serif;
}

code {
  font-family: 'Fira Code', lxgw, monospace;
}

@supports (font-variation-settings: normal) {
  code {
    font-family: 'Fira Code VF', lxgw, monospace;
  }
}

.text-em {
  color: #d19a5e;
}
